@import "_base/variables";
@import "_base/base";
@import "_layout/header";
@import "_layout/footer";
@import "_sections/sections-discover";
@import "_sections/section-research";
@import "_sections/section-strategy";
@import "_sections/section-space";
@import "_sections/section-sign-up";
@import "_sections/section-tabs";
@import "_sections/section-modal";
@import "_sections/section-accordion";
@import "_sections/section-form";
@import "_sections/section-checkboxes";
@import "_sections/section-slider";

