$white: #fff;
$black: #3C3C3C;
$black2: #000000;
$primary-red: #DD0031;
$light-grey:#F8F8F8;
$primary-green:#01875C;
$primary-berry:#6B1D45;
$secondery-blue:#4676C0;
$grey:#606776;
$grey2:#8793A6;
$grey3:#4D4D4F;
$grey4:#EBEAEA;
$light-grey2:#8793A6;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1380px;
$breakpoint-xxl: 1660px;