.footer {
    padding: 50px 0;
    background-color: $black2;

    @media screen and (max-width: $breakpoint-lg) {
        padding: 40px
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-lg) {
            display: flex;
            flex-direction: column;
        }

        .footer-part-l {
            width: 22%;

            @media screen and (max-width: $breakpoint-lg) {
                width: 100%
            }

            .footer-logo {
                text-align: center;
            }

            .footer-info {
                margin-top: 32px;
                .part-l-title {
                    font-size: 14px;
                    font-weight: 400;
                    color: $white;
                    margin-bottom: 24px;
                }

                .part-l-list {
                    li {
                        color: $white;    
                        margin-bottom: 8px;
                        
                        a {
                            font-size: 14px;
                            font-weight: 400;
                            color: $white;   
                        }
                    }
                }
            }
        }

        .footer-part-r {
            width: 72%;

            @media screen and (max-width: $breakpoint-lg) {
                width: 100%;
                margin-top: 30px;
            }
            .part-r-wrapper {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: $breakpoint-lg) {
                    flex-direction: column;
                    gap: 25px;
                }
                .part-r {
                    .part-r-title {
                        font-size: 16px;
                        font-weight: 700;
                        color: $white;
                        margin-bottom: 16px;
                    }

                    .part-r-list {
                        li {
                            margin-bottom: 8px;

                            a{
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        @media screen and (max-width: $breakpoint-lg) {
            flex-direction: column;
            gap: 25px
        }

        .icon-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $breakpoint-lg) {
                flex-direction: column;
                gap: 25px;
            }
            .icon-part-wraper {
                display: grid;
                grid-template-columns: repeat(5,1fr);
                grid-column-gap: 16px;  
            }

            .icon-part-post {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 21px;

                .icon-post {
                    margin-right: 10px;
                    margin-top: 5px;
                }
                .post {
                    a {
                        font-size: 18px;
                        font-weight: 700;
                        color: $white;
                    }
                   
                }
            }
        }

        .footer-title {
            display: flex;
            justify-content: space-between;
            .footer-subtitle {
                font-size: 14px;
                font-weight: 400;
                color: $white;
                margin-right: 30px;
            }
            .footer-subsutitle {
                font-size: 14px;
                font-weight: 400;
                color: $white;
                a {
                    font-size: 14px;
                    font-weight: 400;
                    color: $white;
                    text-decoration: underline;
                    }
            }
        }
    }
}