.hidden {
    display: none;
}

.section-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    min-height: 752px;
    z-index: 30;

    .modal {
        padding: 80px 40px;
        max-width: 900px;
        margin: 0 auto;

        .close-modal {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: $white;
            border: 2px solid $black;
            position: absolute;
            right: 60px;
            
            &::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 17px;
                background-color: $black;
                top: 14px;
                left: 21px;
                transform: rotate(45deg);
            }

            &::before {
                position: absolute;
                content: "";
                width: 2px;
                height: 17px;
                background-color: $black;
                top: 14px;
                left: 21px;
                transform: rotate(-45deg);
            }
        }

        .modal-title {
            font-size: 40px;
            font-weight: 300;
            color: $black2;
            margin-bottom: 70px;
            margin-top: 100px;
        }

        .container {
            .form-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 15px;

                 @media screen and (max-width: $breakpoint-md) {
                    flex-direction: column;
                    gap: 25px;
                 }

                .container-search {
                    width: 100%;
                    .input-search {
                        padding: 16px 20px;
                        border-radius: 4px;
                        border: 1px solid $grey;
                        color: $grey;
                        background: $white;
                        display: block;
                        width: 100%;
                    }
                }
                .container-button {
                    // margin-left: 10px;
                    .container-btn {
                        padding: 14px 24px;
                        border-radius: 50px;
                        border: 1px solid $primary-red;
                        color: $white;
                        text-align: center;
                        background: $primary-red;
                        display: flex;
                        justify-content: center;
                        font-weight: 700;
                        font-size: 16px;
                        cursor: pointer;
                        
                         @media screen and (max-width: $breakpoint-md) {
                            width: 100%;
                         }
                        .cont-icon {
                            width: 17px;
                            height: 15px;
                            background-image: url(../img/search3.png);
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }
}
