.section-tabs {
    .tabs-wrapper {
        .tabs-nav {
            margin-bottom: 80px;
            border-bottom: 2px solid $primary-berry;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $breakpoint-md) {
                flex-direction: column;
                border-bottom: none;
                margin-bottom: 40px;
            }

            @media screen and (max-width: $breakpoint-lg) {
                margin-bottom: 60px;
            }

            .tab-btn {
                width: 50%;
                padding: 27px;
                color: $black2;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                background-color: $white;
                //border: 2px solid $secondery-blue;
                display: inline-block;

                &.active {
                    color: $white;
                    border: 2px solid $secondery-blue;
                    background-color: $secondery-blue;

                    @media screen and (max-width: $breakpoint-md) {
                        background-color: $secondery-blue;
                        color: $white;
                    }
                }

                @media screen and (max-width: $breakpoint-md) {
                    width: 100%;
                    border: 1px solid $primary-berry;
                    margin-bottom: 10px;
                    font-size: 14px;
                    padding: 16px;
                }

                @media screen and (max-width: $breakpoint-lg) {
                    padding: 20px;
                    font-size: 15px;
                }
            }
        }
        
        .tabs-content {
            margin-bottom: 80px;

            @media screen and (max-width: $breakpoint-md) {
                margin-bottom: 40px;
                text-align: center;
            }

            @media screen and (max-width: $breakpoint-lg) {
                margin-bottom: 60px;
            }
            .tab-content-item {
                display: none;
                &.active {
                    display: block;
                    text-align: center;
                }
                .tab-title {
                    font-size: 20px;
                    font-weight: 700;
                    color: $black;
                    margin-top: 8px;

                    @media screen and (max-width: $breakpoint-md) {
                        font-size: 16px;
                        margin-top: 6px;
                    }

                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: 18px;
                    }
                }
                .tab-subtitle {
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 8px;

                    @media screen and (max-width: $breakpoint-md) {
                        font-size: 14px;
                        margin-top: 4px;
                    }

                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: 15px;
                    }
                }
            }
        }     
    }
}