.section-slider {
    padding: 80px 0;

    @media screen and (max-width: $breakpoint-lg) {
        padding: 40px;
    }
    
    .slider-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slider-1 {
            h3 {
                font-size: 40px;
                font-weight: 600;
                color: $primary-berry;
                text-align: center;
                margin-bottom: 15px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 32px
                }
            }
            .slider-text {
                font-size: 20px;
                color: $grey3;
                text-align: center;
                margin-bottom: 15px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 18px
                }
            }
            
            .slider-image {
                img {
                    width: 100%;
                    max-width: 280px;
                    height: auto;
                    margin: 0 auto;

                    @media screen and (max-width: $breakpoint-lg) {
                        max-width: 200px;
                    }
                }
            }
        }

        .slick-arrow {
            background: $primary-berry;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            transition: all 0.3s ease;

             &:hover {
                background: darken($primary-berry, 10%);
            }
        }

        .slick-slide {
            img {
                margin: 0 auto;
                display: block;
            }
        }
    }
}