.section-space {
    padding: 80px ;
    background-color: $secondery-blue;
     @media screen and (max-width: $breakpoint-lg) {
        padding: 40px;
     }
    .space-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

         @media screen and (max-width: $breakpoint-lg) {
            flex-direction: column-reverse;
            gap: 25px;
         }

        .space-info {
            width: 49%;

            @media screen and (max-width: $breakpoint-lg) {
                width: 100%;
             }
            .space-title {
                font-size: 40px;
                font-weight: 300;
                color: $white;
                margin-bottom: 24px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 24px;
                }
            }

            .space-text {
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                color: $white;
                margin-bottom: 24px;
            }

            .space-btn {
                padding: 14px 24px;
                text-align: center;
                color: $white;
                border-radius: 48px;
                border: 1px solid $white;
                background-color: $secondery-blue;

                @media screen and (max-width: $breakpoint-md) {
                    width: 100%;
                }
            }
        }

        .strategy-image {
            width: 49%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

             @media screen and (max-width: $breakpoint-lg) {
                width: 100%;
                text-align: center;
             }
        }
    }
}