.section-discover {
    padding: 80px 0;
    background-color: $black;

    @media screen and (max-width: $breakpoint-lg) {
        padding: 25px 30px;
    }

    @media screen and (max-width: $breakpoint-xl) {
        padding: 30px 40px;
    }

    .discover-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-lg) {
            display: flex;
            flex-direction: column;
        }

        .discover-left {
           width: 50%;

            @media screen and (max-width: $breakpoint-lg) {
                width: 100%;
            }

           .discover-text {
            font-size: 56px;
            font-weight: 300;
            line-height: 67px;
            color: $white;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 32px;
                    font-weight: 300;
                    line-height: 50px;
                    text-align: center;
                }

                @media screen and (max-width: $breakpoint-xl) {
                    font-size: 40px;
                    font-weight: 300;
                    line-height: 50px;
                }  
           }
        }

        .discover-right {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}