.section-form {
    padding: 80px 0;
    background-color: $light-grey;

    @media screen and (max-width: $breakpoint-lg) {
        padding: 40px;
    }

    .form-title {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 24px;
        color: $black2;

        @media screen and (max-width: $breakpoint-lg) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }

    .form-subtitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        color: $black;
        margin-bottom: 32px;

        @media screen and (max-width: $breakpoint-md) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    .form-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;

        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
            grid-gap: 16px;
         }
        .form-part {
            .form-label {
                font-size: 14px;
                font-weight: 400;
                color: $black;
                margin-bottom: 8px;
                display: block;
            }
          
            .input-text,
            .select-option {
                padding: 12px 20px;
                border-radius: 4px;
                border: 1px solid $grey2;
                background-color: $white;
                width: 100%;
                font-size: 16px;
                color: $black;

                @media screen and (max-width: $breakpoint-md) {
                    font-size: 14px;
                }
            }

             .select-option {
                color: $grey2;
            }
        }
    }

    .form-text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        color: $grey3;
        margin-bottom: 20px;
        line-height: 22px;

        @media screen and (max-width: $breakpoint-md) {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .input-check {
        color: $grey3;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        .input-checked {
            width: 24px;
            height: 24px;
            margin-right: 20px;
        }
        
        input[type=checkbox]:checked {
            appearance: none;
            background-color: $primary-red;
            background-image: url(../img/icon.png);
            background-repeat: no-repeat;
            background-position: 50%;
            border: 1px solid $black;
        }
    }

    .input-btn {
        text-align: center;
        .primary-btn,
        .secondary-btn {
        padding: 14px 24px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;

            @media screen and (max-width: $breakpoint-md) {
                font-size: 14px;
                padding: 12px 20px;
            }
        }

        .primary-btn {
            border: 2px solid $primary-red;
            background-color: $primary-red;
            color: $white;
            margin-right: 8px;

            @media screen and (max-width: $breakpoint-md) {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .secondary-btn {
            border: 2px solid $primary-red;
            background-color: $white;
            color: $primary-red;

            @media screen and (max-width: $breakpoint-md) {
                width: 100%;
            }
        }
    }
}