.section-research {
    padding: 80px 0;
    background-color: $light-grey;

    @media screen and (max-width: $breakpoint-lg) {
        padding: 25px 30px;
    }

    @media screen and (max-width: $breakpoint-xl) {
        padding: 30px 40px;
    }

    .research-wrap1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;

        @media screen and (max-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .research-text {
            font-size: 40px;
            font-weight: 300;

            @media screen and (max-width: $breakpoint-md) {
                text-align: center;
            }

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 32px;
            }
        }

        .research-button {

            @media screen and (max-width: $breakpoint-md) {
              margin: 0 auto;
            }
            .research-btn {
                padding: 14px 24px;
                color: $primary-red;
                font-size: 16px;
                text-align: center;
                border-radius: 48px;
                border: 1px solid $primary-red;
                display: flex;
                justify-content: center;
                width: fit-content;
                .research-btn-arrow {
                    display: block;
                    width: 18px;
                    height: 14px;
                    background: url(../img/arrow-right1.png);
                    background-repeat: no-repeat;
                    margin-left: 16px;
                }
            }
        }
    }

    .research-wrap2 {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media screen and (max-width: $breakpoint-md) {
            flex-wrap: wrap;
        }

        .research-part {
            flex: 1 1 45%;
            box-shadow: 2px 0 13px -4px #000000;

            @media screen and (max-width: $breakpoint-md) {
                flex: 1 1 100%;
            }

            .research-info {
                padding: 24px;
                background-color: $white;
                .info-wrap {
                    margin-bottom: 16px;
                    .info-title {
                        display: inline-block;
                        padding: 4px 10px;
                        color: $white;
                        font-size: 16px;
                        background-color: $primary-green;
                        margin-right: 38px;
                    }
                    .info-subtitle {
                        position: relative;
                        font-size: 16px;
                        font-weight: 700;

                        &::before {
                            position: absolute;
                            display: block;
                            content: "";
                            width: 12px;
                            height: 12px;
                            background-image: url(../img/circle.png);
                            background-repeat: repeat;
                            top: 4px;
                            left: -20px;
                        }
                    }
                }

                .research-subtitle {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 16px;
                }

                .research-title {
                    font-size: 32px;
                    font-weight: 300;
                    line-height: 41px;
                    margin-bottom: 24px;
                }

                .research-text {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    margin-bottom: 24px;
                }

                .research-bottom {
                    display: flex;
                    justify-content: space-between; 
                    align-items: center;
                    .avatar-wrapper {
                        display: grid;
                        grid-template-columns: repeat(5,1fr);
                        grid-column-gap: 16px;
                    }

                    .research-link {
                        .res-link {
                            font-size: 16px;
                            font-weight: 700;
                            color: $black;
                            display: flex;
                            justify-content: center;

                            .res-arrow {
                                display: block;
                                width: 26px;
                                height: 24px;
                                background: url(../img/arrow-right2.png);
                                background-repeat: no-repeat;
                                margin-left: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}